.pie{
    background: linear-gradient(to top, #000000, #12505c);
    color: #F8F1F1;
    font-size: .5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    a{
        color: $colorClaro;
        &:hover{
            color: $ColorAzul;
        }
    }
    .pie__izquierda{
        flex-shrink: 1;
        padding: 1rem;
        .pie__parrafo{
            margin: 0;
        }       
    }
    .pie__medio{
        flex-grow: .4;
        text-align: center;
        padding: 1rem;
    }
    .pie__derecha{
        flex-grow: .3;
        text-align: right;    
    }
        
}


