@media only screen and (min-width:600px){
    .pie{
        .pie__completo{
            font-size: 12px;
            flex-direction: row;
            .pie__derecha{
                text-align: right;
                flex-grow: .3;
            }
        }
        .pie__nombramiento{
            text-align: right;
        }
    }
    .contact-us{
        width: 90%;
        .contact-us__fieldset{  
            width: auto;
            .contact-us__display{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: .7fr .2fr .2fr 1.5fr;
                grid-template-areas: 
                "nombre datos"
                "preferencia preferencia"
                "newsletter newsletter"
                "complete complete";
                justify-items: center;
                &--nombre{
                    grid-area: nombre;
                    align-self: center;

                }
                &--preferencia{
                    grid-area: preferencia;
                }
                &--datos{
                    grid-area: datos;
                    align-self: center;

                }
                &--newsletter{
                    grid-area: newsletter
                }
                &--complete{
                    grid-area: complete;
                }
            }
        }
    }
    iframe{
        width:448px;
        height: 252px;
    }
    .carouselAncho{
        width: 95%;
        margin: auto;
    }
    .error404{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr 1fr .2fr;
        grid-template-areas: 
        "titulo titulo"
        "texto imagen"
        "link link";
        .error404__h1{
            grid-area: titulo;
        }
        .error404__imagen{
            width: 280px;
            grid-area: imagen;
            align-self: center;
            justify-self: center;
        }
        .error404__texto{
            grid-area: texto;
        }
        .error404__link{
            grid-area: link;
        }
    }
}

@media only screen and (min-width:1024px)
{

    .artPub{
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "articulo articulo notiPub"
        "articulo articulo notiPub"
    }
    .contenedor{
        .contenedor__flex{
            flex-direction: row  ;
            padding: 30px ;
            .contenedor__caja{
                width: 40%;
                padding-left: 1rem;
                padding-top: 0;
            }    
        }

    }
    .encabezado{
        flex-direction: row;
        .encabezado__flex{
            .encabezado__titulo{
            font-size: 2.5em;
        }
    }
    }
    .nav-index{
        .nav-index__li{
            .nav-index__a{
            padding: 1rem;
            }
        }
    }
/*contact us ancho*/
    .contact-us{
        width: 60%;
 
    }
    .carouselAncho{
        width: 90%;
        margin: auto;
    }
    .margenes30{
        margin: 30px;
    }
    .error404{
        width: 65%;
    }
    .error404 {
        .error404__imagen{
            width: 400px;
        }
    }
  
}